body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}