<header data-ng-controller="MenuController">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Fashion Tips</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!--Dropdown menu for authenticated users.-->
                        <li class="dropdown" data-ng-show="loggedIn()">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{{ username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/profile">Profile</a></li>
                                <li><a href="#/profile/post">Add new post</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/" class="navbar-link" data-ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                        <!--Dropdown menu for non-authenticated users.-->
                        <li class="dropdown" data-ng-show="!loggedIn()">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Sign In <strong
                                    class="caret"></strong></a>
                            <div class="dropdown-menu">
                                <form name="signinForm" accept-charset="UTF-8" data-ng-submit="login()">
                                    <div class="form-group has-feedback"
                                         data-ng-class="{ 'has-error': signinForm.username.$invalid }">
                                        <input class="form-control" type="text" placeholder="Username" name="username"
                                               data-ng-model="credentials.username" required autofocus>
                                    </div>
                                    <div class="form-group has-feedback"
                                         data-ng-class="{ 'has-error': signinForm.password.$invalid }">
                                        <input class="form-control" placeholder="Password" id="password" name="password"
                                               data-ng-model="credentials.password" required>
                                    </div>
                                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <!-- Alert messages -->
        <div class="alert alert-danger" data-ng-show="error">
            There was a problem logging in. Please try again.
        </div>
        <div class="alert alert-success" ng-show="loggedIn()">
            Congratulations! {{username}} has logged!
        </div>
    </div>
</header>