<div class="panel panel-default post-section">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <a href="/?category={{post.category}}">
                    <span class="label"
                          data-ng-class="{'label-info': post.category === 'POST', 'label-warning': post.category === 'QUESTION'}">
                        {{ post.category }}
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <div class="pull-right" data-ng-show="post.author.login === username && !feed">
                    <button type="button" class="btn btn-xs btn-warning" data-ng-click="edit()">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" data-ng-click="delete()">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
            </div>
        </div>
        <div>
            <span class="label" data-ng-show="post.author.login === username && !feed" data-ng-class="{
                'label-success':post.status === 'PUBLISHED',
                'label-info':post.status === 'NEW',
                'label-default':post.status === 'HIDDEN',
                'label-warning':post.status === 'SCHEDULED'
            }">{{post.status}}</span>
        </div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h2>
                        <a data-ng-show="feed === 'true'" href="/post/{{ post.id }}">{{ post.title }}</a>
                        <span data-ng-hide="feed === 'true'">{{ post.title }}</span>
                        <small>by <a href="/user/{{post.author.login}}">{{ post.author.login }}</a></small>
                    </h2>
                </div>
                <div class="col-md-4">
                    <p class="text-muted text-right">{{ post.status === 'SCHEDULED' ? "Scheduled on " : ""}}<br data-ng-show="post.status === 'SCHEDULED'"/>{{post.publicationTime | date:"dd MMM yyyy HH:mm" }}</p>
                </div>
            </div>
        </div>

        <!-- Active image -->
        <a href="/post/{{ post.id }}" class="main-post-image" style="background-image: url({{activeImage.imgUrl}})" data-ng-show="activeImage.imgUrl"></a>

        <!--Tags -->
        <div class="form-group">
            <span data-ng-repeat="tagLine in activeImage.tagLines">
                <a href="/?clothes={{tagLine.clothes.name}}">
                    <strong>{{tagLine.clothes.name}}</strong>
                </a>
                -
                <span data-ng-repeat="tag in tagLine.tags">
                    <a href="/?tagType={{tag.tagType.type}}&tagValue={{tag.value}}">
                        <i>{{tag.tagType.type}}</i>:{{tag.value}}
                    </a>
                </span>
                <br/>
            </span>
        </div>


        <div class="row well well-sm" data-ng-show="post.images.length">
            <div class="col-sm-2 col-xs-3" data-ng-class="{activeImage:activeImage.id === image.id}"
                 data-ng-repeat="image in post.images" data-ng-click="showImage(image)">
                <img class="img-thumbnail" data-ng-src="{{image.imgUrl}}">
            </div>
        </div>

        <!-- Comments -->
        <hr/>
        <p data-ng-bind-html="(post.textMessage | hashtag)"></p>

        <!-- Bottom buttons panel -->
        <p>
            <a data-ng-show="feed === 'true' && post.commentsAllowed && loggedIn()" data-ng-href="/post/{{ post.id }}" >
                <small>reply</small>
            </a>
            <span class="pull-right">
                <a data-ng-show="post.isLikedByAuthUser !== null" href data-ng-click="toggleLikedStatus(post.id)">
                    <small>Like</small>
                </a>
            <span data-ng-class="{liked:post.isLikedByAuthUser}" class="glyphicon glyphicon-heart not-liked"
                  aria-hidden="true">
            </span>
                {{ post.likes }}
                <button type="button" class="btn btn-sm btn-info" data-ng-click="showLikedUsers()" popover-placement="right"
                        uib-popover-template="'/ng/app/posts/liked_users/_usersWhoLikedPost.tpl.html'" popover-trigger="focus"
                        data-ng-show="post.likes > 0">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
            </span>
        </p>
    </div>
</div>