<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <a href="/?category={{post.category}}">
                    <span class="label"
                          data-ng-class="{'label-info': post.category === 'POST', 'label-warning': post.category === 'QUESTION'}">
                        {{ post.category }}
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <div class="pull-right" data-ng-show="post.author.login === username && !feed">
                    <button type="button" class="btn btn-xs btn-warning" data-ng-click="edit()">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" data-ng-click="delete()">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h2>
                        <a data-ng-show="feed === 'true'" href="/post/{{ post.id }}">{{ post.title }}</a>
                        <span data-ng-hide="feed === 'true'">{{ post.title }}</span>
                        <small>by <a href="/user/{{post.author.login}}">{{ post.author.login }}</a></small>
                    </h2>
                </div>
                <div class="col-md-4">
                    <p class="text-muted text-right">{{ post.publicationTime | date:'short' }}</p>
                    <h4 class="text-right">
                        Likes:{{post.likes}}
                    <span data-ng-show="post.isLikedByAuthUser !== null" class="glyphicon glyphicon-thumbs-up"
                          data-ng-class="{liked:post.isLikedByAuthUser}"
                          data-ng-click="toggleLikedStatus(post.id)"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div id="post-gallery" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#post-gallery" data-slide-to="{{$index}}" data-ng-class='{active:$first}'
                    data-ng-repeat="num in post.images"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-class='{active:$first}' data-ng-repeat="image in post.images">
                    <img data-ng-src="{{image.imgUrl}}">
                </div>
            </div>
        </div>

        <!--Tags -->
        <div class="form-group">
            <span data-ng-repeat="tagLine in post.tagLines">
                <strong>{{tagLine.clothes.name}}</strong> -
                <span data-ng-repeat="tag in tagLine.tags">
                   <i>{{tag.tagType.type}}</i>:{{tag.value}}
                </span>
                <br/>
            </span>
        </div>
        <hr/>
        <p data-ng-bind-html="(post.textMessage | hashtag)"></p>

        <!-- Bottom buttons panel -->
        <p>
            <a data-ng-show="feed === 'true' && post.commentsAllowed && loggedIn()" data-ng-href="/post/{{ post.id }}" >
                <small>reply</small>
            </a>
        </p>
    </div>
</div>