<form name="registerForm" accept-charset="UTF-8" data-ng-submit="doRegister()"
      data-ng-class="{'has-error': registerForm.$invalid && registerForm.$submitted}" data-ng-show="credentials.email" novalidate>
    <p class="text-danger" data-ng-show="error">{{ error }}</p>

    <!-- Email -->
    <div class="form-group has-feedback">
        <input class="form-control" type="text" name="email" data-ng-model="credentials.email" disabled>
    </div>

    <!-- Username -->
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': registerForm.username.$invalid && registerForm.username.$dirty,
                          'has-success': registerForm.username.$valid && registerForm.username.$dirty}">
        <input class="form-control" type="text" placeholder="Username" name="username"
               data-ng-model="credentials.username" required autofocus data-minlength="4"
               data-maxlength="32" data-username data-ng-trim="false"
               data-ng-change="credentials.username = credentials.username.split(' ').join('')">
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="{'glyphicon-ok': registerForm.username.$valid && registerForm.username.$dirty,
                              'glyphicon-remove': registerForm.username.$invalid && registerForm.username.$dirty}"></span>
        <div data-ng-messages="registerForm.username.$error" role="alert"
             data-ng-show="registerForm.username.$dirty">
            <div data-ng-messages-include="messages.html"></div>
                            <span class="help-block" data-ng-show="registerForm.username.$pending.username">
                                Checking if this name is available...
                            </span>
        </div>
    </div>

    <!-- Gender -->
    <div class="form-group" data-ng-class="{ 'has-error': registerForm.gender.$invalid && registerForm.gender.$dirty,
                          'has-success': registerForm.gender.$valid && registerForm.gender.$dirty}">
        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="gender" value="GIRL" data-ng-model="credentials.gender"
                       required>Girl
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="GUY" data-ng-model="credentials.gender"
                       required>Guy
            </label>
            <div data-ng-messages="registerForm.gender.$error" role="alert"
                 data-ng-show="registerForm.gender.$dirty">
                <div data-ng-messages-include="messages.html"></div>
            </div>
        </div>
    </div>

    <!-- Password -->
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$dirty,
                          'has-success': registerForm.password.$valid && registerForm.password.$dirty}">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               data-ng-model="credentials.password" required data-minlength="4" data-maxlength="32">
        <div data-ng-messages="registerForm.password.$error" role="alert"
             data-ng-show="registerForm.password.$dirty">
            <div data-ng-messages-include="messages.html"></div>
        </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty,
                           'has-success': registerForm.confirmPassword.$valid && registerForm.confirmPassword.$dirty}">
        <input type="password" class="form-control" placeholder="Password one more time"
               id="confirmPassword"
               name="confirmPassword"
               data-ng-model="credentials.confirmPassword" required
               data-ng-pattern="{{ credentials.password }}">
        <div data-ng-messages="registerForm.confirmPassword.$error" role="alert"
             data-ng-show="registerForm.confirmPassword.$dirty">
            <div data-ng-messages-include="messages.html"></div>
        </div>
    </div>
    <p class="text-muted">
        <small>By clicking "Create an account", you agree to the <a href="#" target="_blank">terms</a>.
        </small>
    </p>
    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Create an account"
           data-ng-disabled="registerForm.$invalid">
</form>
<div class="alert alert-danger" data-ng-show="verificationError">
    {{verificationError}}
</div>

<!--Success Registration Modal -->
<div id="successRegistrationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><b>Congrats!</b></h4>
            </div>
            <div class="modal-body">
                <p> You have been successfully registered.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success center-block" data-dismiss="modal"
                        data-ng-click="processSuccessRegistration()">Great!
                </button>
            </div>
        </div>
    </div>
</div>