.dropdown-menu {
    padding: 15px;
}

.not-liked {
    opacity: 0.4;
    color: dodgerblue;
}

.liked {
    opacity: 1;
    color: dodgerblue;
}

.activeImage {
    background-color: darkcyan;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

p {
    word-break: break-all;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.post-section .post-img {
    height: 550px;
    cursor: pointer;
}
.main-post-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 500px;
}

.to-top-button {
    transform: translateY(100px);
    display: inline-block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2aabd2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition-property: box-shadow, background, transform;
    transition-duration: 0.2s, 0.2s, 0.4s;
    transition-timing-function: ease, ease, cubic-bezier(.25,-1.2,.85,.77);
    text-align: center;
    line-height: 50px;
}
.to-top-button.visible {
    transform: translateY(0);
    transition-timing-function: ease, ease, cubic-bezier(.16,.73,.56,1.89);
}
.to-top-button:hover {
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.36);
    background-color: #4EBDDE;
}
.to-top-button>span {
    color: #000;
    opacity: 0.5;
}

.loader {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 1000;
}
.loader.loading {
    opacity: 1;
    visibility: visible;
    position: relative;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@-webkit-keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}