.dropdown-menu {
    padding: 15px;
}

.not-liked {
    opacity: 0.4;
    color: dodgerblue;
}

.liked {
    opacity: 1;
    color: dodgerblue;
}

.activeImage {
    background-color: darkcyan;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

p {
    word-break: break-all;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
