<form name="restorePasswordRequestForm" accept-charset="UTF-8" data-ng-submit="sendRestorePasswordRequest()" class="form-group"
      data-ng-class="{'has-error': registerForm.$invalid && registerForm.$submitted}" novalidate>

    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': restorePasswordRequestForm.email.$invalid && restorePasswordRequestForm.email.$dirty,
                          'has-success': restorePasswordRequestForm.email.$valid && restorePasswordRequestForm.email.$dirty}">
        <input class="form-control" type="email" placeholder="Email" name="email"
               data-ng-model="email" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="{'glyphicon-ok': restorePasswordRequestForm.email.$valid && restorePasswordRequestForm.email.$dirty,
                              'glyphicon-remove': restorePasswordRequestForm.email.$invalid && restorePasswordRequestForm.email.$dirty}"></span>
        <div data-ng-messages="restorePasswordRequestForm.email.$error" role="alert"
             data-ng-show="restorePasswordRequestForm.email.$dirty">
            <div data-ng-messages-include="messages.html"></div>
        </div>
    </div>
    <input class="btn btn-primary btn-block" type="submit" value="Send restore password request"
           data-ng-disabled="restorePasswordRequestForm.$invalid">
</form>
<div class="alert alert-danger" data-ng-show="error">
    {{error}}
</div>
<!-- Success sending registration request-->
<div id="successRestorePasswordRequestModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><b>Success!</b></h4>
            </div>
            <div class="modal-body">
                Email with password restoration link was sent. Please, check your mail.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success center-block" data-dismiss="modal"
                        data-ng-click="processSuccessRestorePasswordRequestModal()">Ok
                </button>
            </div>
        </div>
    </div>
</div>