<form name="restorePasswordForm" accept-charset="UTF-8" data-ng-submit="restorePassword()"
      data-ng-class="{'has-error': restorePasswordForm.$invalid && restorePasswordForm.$submitted}" data-ng-show="credentials.email" novalidate>
    <p class="text-danger" data-ng-show="error">{{ error }}</p>

    <!-- Password -->
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': restorePasswordForm.password.$invalid && restorePasswordForm.password.$dirty,
                          'has-success': restorePasswordForm.password.$valid && restorePasswordForm.password.$dirty}">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               data-ng-model="credentials.password" required data-minlength="4" data-maxlength="32">
        <div data-ng-messages="restorePasswordForm.password.$error" role="alert"
             data-ng-show="restorePasswordForm.password.$dirty">
            <div data-ng-messages-include="messages.html"></div>
        </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': restorePasswordForm.confirmPassword.$invalid && restorePasswordForm.confirmPassword.$dirty,
                           'has-success': restorePasswordForm.confirmPassword.$valid && restorePasswordForm.confirmPassword.$dirty}">
        <input type="password" class="form-control" placeholder="Password one more time"
               id="confirmPassword"
               name="confirmPassword"
               data-ng-model="credentials.confirmPassword" required
               data-ng-pattern="{{ credentials.password }}">
        <div data-ng-messages="restorePasswordForm.confirmPassword.$error" role="alert"
             data-ng-show="restorePasswordForm.confirmPassword.$dirty">
            <div data-ng-messages-include="messages.html"></div>
        </div>
    </div>

    <input class="btn btn-primary btn-block" type="submit" value="Change password"
           data-ng-disabled="restorePasswordForm.$invalid">
</form>
<div class="alert alert-danger" data-ng-show="verificationError">
    {{verificationError}}
</div>

<!--Success Registration Modal -->
<div id="successResetPasswordModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><b>Your password has been changed!</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success center-block" data-dismiss="modal"
                        data-ng-click="processSuccessResetPasswordModal()">Go to login form
                </button>
            </div>
        </div>
    </div>
</div>