<form name="loginForm" accept-charset="UTF-8" data-ng-submit="doLogin()">
    <p class="text-danger" data-ng-show="showLoginErrorMessage">Invalid login or password!</p>
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
        <input class="form-control" type="text" placeholder="Username" name="username"
               data-ng-model="credentials.username" required autofocus>
    </div>
    <div class="form-group has-feedback"
         data-ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               data-ng-model="credentials.password" required>
    </div>
    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In"
           data-ng-disabled="loginForm.$invalid">
</form>